<section class="section" id="assorts">
  <div class="container">
    <h3 class="text-size-tagline is-tag">Assortment</h3>
    <h2 class="text-size-lg is-lg width-344  width-768">Explore Our Delicious Organic Product Range</h1>

    <ul class="assorts-list">
      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-1.jpg"
            srcset="
              /images/assorts/assort-1.jpg    1x,
              /images/assorts/assort-1@2x.jpg 2x
            "
            alt="Top-down photo of fresh organic carrots with green tops arranged in a woven basket on a light wooden background, a hint of soil and greenery around, soft natural daylight, styled for a clean and earthy look."
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-1d.jpg    1x,
              /images/assorts/assort-1d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-1t.jpg    1x,
              /images/assorts/assort-1t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Organic Gala Apples</h2>
            <p class="text-small-normal is-small">
              Juicy, crisp, and sweet apples grown without pesticides.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold is-large">$3.50</span>
            <span class="text-size-custom is-custom width-53 height-26">per 1 pound</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-2.jpg"
            srcset="
              /images/assorts/assort-2.jpg    1x,
              /images/assorts/assort-2@2x.jpg 2x
            "
            alt="Top-down view of fresh organic spinach leaves inside a kraft paper bag, placed on a light wooden table with a soft green linen cloth underneath, natural daylight, crisp and clean layout, minimal rustic detail."
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-2d.jpg    1x,
              /images/assorts/assort-2d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-2t.jpg    1x,
              /images/assorts/assort-2t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Fresh Organic Spinach</h2>
            <p class="text-small-normal is-small">
              Young spinach leave hand-picked from a local organic farm
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold is-large ">$2.80</span>
            <span class="text-size-custom is-custom width-53 height-26">per bunch</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-3.jpg"
            srcset="
              /images/assorts/assort-3.jpg    1x,
              /images/assorts/assort-3@2x.jpg 2x
            "
            alt="Top-down photo of 12 brown free-range organic eggs in a paper carton on a light wooden surface, one feather beside the carton, soft shadows from natural window light, clean background with warm organic tones."
          />

          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-3d.jpg    1x,
              /images/assorts/assort-3d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-3t.jpg    1x,
              /images/assorts/assort-3t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Free-Range Organic Eggs</h2>
            <p class="text-small-normal is-small">
              Eggs from free-range hens fed with natural feed
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold is-large">$5.00</span>
            <span class="text-size-custom width-53 height-26">per dozen</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-4.jpg"
            srcset="
              /images/assorts/assort-4.jpg    1x,
              /images/assorts/assort-4@2x.jpg 2x
            "
            alt=" Top-down view of a white bottle labeled “Organic Almond Milk” beside a small glass of almond milk and scattered raw almonds, placed on a light wooden background with subtle green cloth texture for accent."
          />

          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-4d.jpg    1x,
              /images/assorts/assort-4d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-4t.jpg    1x,
              /images/assorts/assort-4t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Organic Almond Milk</h2>
            <p class="text-small-normal is-small">
              Natural plant-based milk with not added sugar - perfect for coffee
              and breakfast
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold is-large ">$4.20</span>
            <span class="text-size-custom is-custom width-53 height-26">per 1 liter</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-5.jpg"
            srcset="
              /images/assorts/assort-5.jpg    1x,
              /images/assorts/assort-5@2x.jpg 2x
            "
            alt="Top-down image of a glass jar filled with golden raw honey and a wooden dipper resting beside it, placed on a light wooden table with a small bunch of dried flowers and a soft linen cloth in the corner, warm natural lighting."
          />
          
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-5d.jpg    1x,
              /images/assorts/assort-5d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-5t.jpg    1x,
              /images/assorts/assort-5t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Raw Organic Honey</h2>
            <p class="text-small-normal is-small">
              Unfiltered honey atraight from the apiary — natural, sweet and
              healthy.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold is-large">$7.50</span>
            <span class="text-size-custom is-custom width-53 height-26">per 500 ml jar</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-6.jpg"
            srcset="
              /images/assorts/assort-6.jpg    1x,
              /images/assorts/assort-6@2x.jpg 2x
            "
            alt=" Top-down photo of fresh organic carrots with green tops arranged in a woven basket on a light wooden background, a hint of soil and greenery around, soft natural daylight, styled for a clean and earthy look."
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-6d.jpg    1x,
              /images/assorts/assort-6d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-6t.jpg    1x,
              /images/assorts/assort-6t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Organic Carrots</h2>
            <p class="text-small-normal is-small">
              Crunchy and sweet carrots grown without chemicals.
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold is-large">$1.90</span>
            <span class="text-size-custom is-custom width-53 height-26">per 1 pound</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-7.jpg"
            srcset="
              /images/assorts/assort-7.jpg    1x,
              /images/assorts/assort-7@2x.jpg 2x
            "
            alt="  Top-down view of a sliced loaf of organic wholegrain sourdough bread on a rustic wooden cutting board, placed on a light wooden surface with a green linen napkin and a few breadcrumbs around, warm natural tone."
          />

          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-7d.jpg    1x,
              /images/assorts/assort-7d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-7t.jpg    1x,
              /images/assorts/assort-7t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Whole Organic Bread</h2>
            <p class="text-small-normal is-small">
              Homemade sourdough bread made with organic flour.
            </p>
          </div>

          <div class="assorts-price-box">
            <span class="text-large-semibold is-large">$4.80</span>
            <span class="text-size-custom is-custom width-53 height-26">per 1 loaf</span>
          </div>
        </div>

        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>

      <li class="assorts-item">
        <picture class="image-box">
          <img
            class="assort-image height-365 width-100"
            src="../images/assorts/assort-8.jpg"
            srcset="
              /images/assorts/assort-8.jpg    1x,
              /images/assorts/assort-8@2x.jpg 2x
            "
            alt="Top-down view of a glass jar with dried herbal tea mix (mint, chamomile, thyme) placed on a light wooden table, some loose herbs scattered around for texture, linen cloth and gentle natural lighting for a calming feel."
          />

          <source
            media="(min-width: 1440px)"
            srcset="
              /images/assorts/assort-8d.jpg    1x,
              /images/assorts/assort-8d@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /images/assorts/assort-8t.jpg    1x,
              /images/assorts/assort-8t@2x.jpg 2x
            "
          />

          
        </picture>
        <div class="assorts-meta">
          <div class="assorts-item-info">
            <h2 class="text-medium-semibold is-medium">Organic Herbal Tea Mix</h2>
            <p class="text-small-normal is-small">
              Fragrant blend of mint, chamomile and thyme - perfect for
              relaxation.
            </p>
          </div>
          <div class="assorts-price-box">
            <span class="text-large-semibold is-large ">$6.30</span>
            <span class="text-size-custom is-custom width-53 height-26">per 100g</span>
          </div>
        </div>
        <button class="button-secondary btn-cart" type="button">
          Add to Cart
        </button>
      </li>
    </ul>
  </div>
</section>
