<section class="contacts" id="contacts">
  <div class="container is-contacts">
    <div class="form-field">
      <h3 class="text-size-tagline">Contacts</h3>
      <h2 class="text-size-lg contacts-heading">Get in Touch</h2>
      <p>We'd love to hear from you anytime!</p>
      <ul class="contact-info-list">
        <li>
          <svg class="contacts-icon" width="20" height="16">
            <use href="/images/sprite.svg#"></use>
          </svg>
          <a
            class="text-regular-normal is-underlined contact-info"
            href="mailto:hello@organicstore.com"
            >hello@organicstore.com</a
          >
        </li>
        <li>
          <svg class="contacts-icon" width="20" height="20">
            <use href="/images/sprite.svg#"></use>
          </svg>
          <a
            class="text-regular-normal is-underlined contact-info"
            href="tel:+15553291024"
            >+1 (555) 329-1024</a
          >
        </li>
      </ul>
      <form class="contact-form">
        <label for="form-name" class="form-label">Name</label>
        <div class="validation">
          <input
            class="form-input text-regular-normal"
            type="text"
            id="form-name"
            name="name"
            placeholder="Sarah"
            pattern="^[a-zA-Z\s\.]{5,64}$"
            autocomplete="off"
            required
          />
          <p class="invalid-text">Error text</p>
        </div>
        <div class="validation">
          <label for="form-email" class="form-label">Email</label>
          <input
            class="form-input text-regular-normal"
            type="email"
            id="form-email"
            name="email"
            placeholder="hello@organic.com"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            autocomplete="off"
            required
          />
          <p class="invalid-text">Error text</p>
        </div>

        <label for="form-message" class="form-label">Message</label>
        <textarea
          class="form-textarea text-regular-normal"
          name="message"
          id="form-message"
          placeholder="Text your message..."
          maxlength="500"
        ></textarea>
        <div class="btn-wrapper">
          <button class="button" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <picture class="form-img">
      <img
        srcset="../images/form.jpg 1x, ../images/form@2x.jpg 2x"
        alt="Group of people smiling"
        width="343 "
      />

      <source
        media="min-width: 768px"
        srcset="../images/form-t.jpg 1x, ../images/form-t@2x.jpg 2x"
      />

      <source
        media="(min-width: 1440px)"
        srcset="../images/form-d.jpg 1x, ../images/form-d@2x.jpg 2x"
      />
    </picture>
  </div>
</section>
