<section class="section" id="feedbacks">
  <div class="container">
    <div class="feedbacks__section-heading">
      <h2 class="feedbacks__title text-size-lg">What Our Customers Say</h2>
      <p class="feedbacks__description">
        We’re proud to grow a community that values health, sustainability, and
        real flavor. Read what our happy customers have to say about their
        experience with our organic products.
      </p>
    </div>
    <ul class="feedbacks-list">
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "Their eco-friendly packaging is a big plus for me. Highly
              recommend!"
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Tony Lee</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "I absolutely love the variety of organic produce available here.
              Everything is fresh and bursting with flavor!"
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Emily Johnson</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "The staff is incredibly knowledgeable and always willing to help
              me find what I need. Great service!"
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Michael Smith</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "I've noticed a significant improvement in my health since
              switching to their organic products. Highly recommend!"
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Sarah Davis</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "The range of organic snacks is fantastic! Perfect for my kids,
              who love them and I feel good about giving them healthy options."
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">David Brown</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "I appreciate that they source local ingredients. It makes me feel
              connected to the community!"
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Jessica Wilson</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedback__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "The prices are fair for the quality of food. I never feel guilty
              about spending a little more here."
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Andrew Lee</span>
          </figcaption>
        </figure>
      </li>
      <li class="feedbacks__list-item">
        <figure class="feedbacks__card">
          <div class="feedbacks__rating">
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
            <svg class="feedbacks__star-icon" width="20" height="19">
              <use href="../images/sprite.svg#star"></use>
            </svg>
          </div>

          <blockquote>
            <p class="feedbacks__text">
              "Their eco-friendly packaging is a big plus for me. It's nice to
              support a business that cares about the environment!"
            </p>
          </blockquote>

          <figcaption class="feedbacks__author">
            <img
              class="feedbacks__avatar"
              src=""
              alt=""
              width="48"
              height="48"
            />
            <span class="feedbacks__name text-regular-semibold">Laura Kim</span>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
