<header class="header" id="home">
  <div class="container">
    <a href="#">
      <svg class="logo" width="142" height="60">
        <use href="../images/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#mission">Mission</a>
        </li>
        <li>
          <a href="#benefits">Benefits</a>
        </li>
        <li>
          <a href="#assortment">Assortment</a>
        </li>
        <li>
          <a href="#feedbacks">Feedbacks</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
        <li>
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <a href="#assortment" class="button">Order</a>
    <svg class="burger-open" width="24" height="24">
      <use href="../images/sprite.svg#burger-open"></use>
    </svg>
  </div>
</header>
