<header class="header" id="home">
  <div class="container is-header">
    <div class="logo-wrapper">
      <a href="#">
        <svg class="logo" width="142" height="60">
          <use href="../images/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="text-regular-normal is-header">
          <a href="#home">Home</a>
        </li>
        <li class="text-regular-normal is-header">
          <a href="#mission">Mission</a>
        </li>
        <li class="text-regular-normal is-header">
          <a href="#benefits">Benefits</a>
        </li>
        <li class="text-regular-normal is-header">
          <a href="#assortment">Assortment</a>
        </li>
        <li class="text-regular-normal is-header">
          <a href="#feedbacks">Feedbacks</a>
        </li>
        <li class="text-regular-normal is-header">
          <a href="#faq">FAQ</a>
        </li>
        <li class="text-regular-normal is-header">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="a-wrapper-92-32 mobile-hide">
      <a class="button is-header" href="#assortment">Order</a>
    </div>
    <button type="button" class="burger-open-button link">
      <svg class="burger-open" width="32" height="32">
        <use href="../images/sprite.svg#burger-open"></use>
      </svg>
    </button>
  </div>
  <div class="burger-menu">
    <div class="container">
      <div class="burger-icon-wrapper">
        <a class="hidden-logo" href="#">
          <svg class="icon is-white" width="142" height="60">
            <use href="../images/sprite.svg#logo"></use>
          </svg>
        </a>
        <a class="link" href="">
          <svg class="icon is-white" width="32" height="32">
            <use href="../images/sprite.svg#burger-close"></use>
          </svg>
        </a>
      </div>
      <ul class="burger-nav">
        <li>
          <a class="text-medium-semibold link" href="#home">Home</a>
        </li>
        <li>
          <a class="text-medium-semibold link" href="#mission">Mission</a>
        </li>
        <li>
          <a class="text-medium-semibold link" href="#benefits">Benefits</a>
        </li>
        <li>
          <a class="text-medium-semibold link" href="#assortment">Assortment</a>
        </li>
        <li>
          <a class="text-medium-semibold link" href="#feedbacks">Feedbacks</a>
        </li>
        <li>
          <a class="text-medium-semibold link" href="#faq">FAQ</a>
        </li>
        <li>
          <a class="text-medium-semibold link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <button class="button" type="button">
        <a href="#assortment">Order</a>
      </button>
    </div>
  </div>
</header>
