.height-365 {
  height: 365px;
  object-fit: cover;
}

.width-100 {
  width: 100%;
}

.text-size-tagline {
  color: var(--neutral-darkest);
  margin-bottom: 16px;
}

.text-size-lg {
  color: var(--neutral-darkest);
  margin-bottom: 24px;
}

.text-medium-semibold {
  color: var(--neutral-darkest);
  margin-top: 16px;
}

.text-small-normal {
  color: var(--neutral-darkest);
}

.text-large-semibold {
  color: var(--neutral-darkest);
}

.text-size-custom {
  color: var(--neutral-darkest);
}

/* only for mobilka */
.btn-to-cart {
  margin-bottom: 16px;
}

.assorts-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
}

.assorts-price-box {
  display: flex;
  text-align: right;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 16px;
}

.assorts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.assorts-item {
  flex-basis: 100%;
}

/* for tablet */
@media (min-width: 768px) {
  .assorts-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

/* for desktop */
@media (min-width: 1440px) {
  .assorts-item {
    flex-basis: calc((100% - 48px) / 4);
  }
}
