.is-contacts {
  padding-top: 64px;
  padding-bottom: 64px;
  color: var(--neutral-darkest);
}

@media (min-width: 1440px) {
  .is-contacts {
    padding-top: 112px;
    padding-bottom: 112px;
    display: flex;
    column-gap: 24px;
  }
}

@media (min-width: 1440px) {
  .form-field {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.contacts-heading {
  margin-top: 16px;
  margin-bottom: 24px;
}

.contact-info-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Прибрати коли з'являться іконки */
/* .contacts-icon {
  fill: var(--neutral-darkest);
  transition: opacity var(--anim);
  margin-right: 18px;


  @media (min-width: 1440px) {
    .contacts-icon {
      margin-right: 16px;
    }
  }
}*/

/* Додати до contact-info:h/f та active */
/* .contact-info:hover + .contact-icon,
.contact-info:focus + .contact-icon

.contact-info:active + .contact-icon, */

.contact-info {
  transition: opacity var(--anim);
}

.contact-info:hover,
.contact-info:focus {
  opacity: 0.5;
}

.contact-info:active {
  opacity: 0.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-label {
  margin-bottom: 8px;
  font-size: 16px;
}

.validation {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
}

.form-input {
  max-width: 100vw;
  border: none;
  padding: 8px 0px;
  border-bottom: 1px solid var(--opacity-neutral-darkest-15);
  color: var(--neutral-darkest);
  background-color: var(--transparent);
  transition: border-bottom var(--anim);
}

.invalid-text {
  color: var(--error-red);
  font-size: 12px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.form-input::placeholder {
  color: var(--opacity-neutral-darkest-60);
  font-size: inherit;
  font-weight: inherit;
}

.form-input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid var(--error-red);
}

.form-input:not(:placeholder-shown):invalid ~ .invalid-text {
  display: block;
}

.form-textarea {
  height: 166px;
  max-width: 100%;
  border: 1px solid var(--opacity-neutral-darkest-15);
  padding: 12px;
  margin-bottom: 32px;
  color: var(--neutral-darkest);
  resize: none;
  background-color: var(--transparent);
}

.form-textarea::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

@media (min-width: 768px) {
  .form-textarea {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .btn-wrapper {
    max-width: 343px;
  }
}

@media (min-width: 1440px) {
  .btn-wrapper {
    max-width: 198px;
  }
}

@media (min-width: 1440px) {
  .form-img {
    flex-basis: calc((100% - 24px) / 2);
  }
}
