header {
  background-color: var(--japanese-laurel-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container.is-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .container.is-header {
    gap: 32px;
  }
}
.logo-wrapper {
  padding: 6px 0px;
}
.navigation {
  margin-left: auto;
}
.nav-list {
  display: none;
}
@media (min-width: 1440px) {
  .nav-list {
    display: flex;
    gap: 32px;
  }
}
.text-regular-normal.is-header {
  transition: color var(--anim);
}
.text-regular-normal.is-header:hover,
.text-regular-normal.is-header:focus {
  color: var(--opacity-neutral-darkest-50);
}
.text-regular-normal.is-header:active {
  color: var(--opacity-neutral-darkest-60);
}
.a-wrapper-92-32.mobile-hide {
  min-width: 92px;
}
.burger-open-button {
  padding: 10px;
  margin-left: 16px;
}
@media (min-width: 1440px) {
  .burger-open-button {
    display: none;
  }
}
.burger-open {
  fill: var(--white);
  display: block;
}
@media (min-width: 768px) {
  .burger-open {
    width: 24px;
    height: 24px;
  }
}
