.section.is-mission {
    background-color: var(--japanese-laurel-light);
}

.mission-description {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 32px;
}

.mission-image {
  width: 100%;
  max-width: 343px;
}

@media (min-width: 768px) {
  .mission-description {
    flex-direction: row;
  }
  .mission-description-title,
  .mission-description-text {
    width: 340px;
  }
  .mission-image {
    max-width: 704px;
    height: 396px;
  }
}

@media (min-width: 1440px) {
  .mission-description {
      margin-bottom: 80px;
    }  
  .mission-description-title,
  .mission-description-text {
      width: 644px;
    }
  .mission-image {
    max-width: 1312px;
    height: 738px;
  }
}
